/*!
 * jQuery Cookiebar Plugin
 * https://github.com/carlwoodhouse/jquery.cookieBar
 *
 * Copyright 2012, Carl Woodhouse
 * Disclaimer: if you still get fined for not complying with the eu cookielaw, it's not our fault.
 */
 
.cookie-message {
      position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 25px 20px 20px;
    background: #808183;
    color: #fff;
    z-index: 100000000;
    font-family: "Open Sans";
    font-size: 11px;
}
.my-close-button {
        float: right;
    cursor: pointer;
    background-color: #fff;
    color: #808183 !important;
    text-decoration: none !important;
    padding: 3px 10px;
    margin-top: -2px;
    border-radius: 3px;
}
.my-close-button:hover{
     color: #fff !important;
    background-color: #bfc1c5;
}
.cookie-message a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.cookie-message p {
    text-align: center;
    margin: 0;
}
.blue {
  border-bottom:1px solid #0E83AE;
  background-color:#0990c3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e83ae), color-stop(50%, #0990c3), color-stop(100%, #0e9dd2));
  background: -webkit-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -moz-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -o-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -ms-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: linear-gradient(#0e83ae, #0990c3, #0e9dd2);
}
.blue p, .blue a { color:#fff; }